@use "../styles/variables" as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  color: $pacc-dark;
  background-color: $pacc-white;
}

a {
  text-decoration: none;
  color: inherit;
}
