@use "../styles/variables" as *;

.tableWrapper {
  width: 100%;
  overflow-x: auto;
  background-color: $pacc-white;
  border-radius: 4px;
  margin-top: 1rem;
}

.table {
  width: 100%;
  border-collapse: collapse;

  thead {
    tr {
      background-color: $pacc-tr;
    }
    th {
      padding: 12px;
      color: $pacc-blue-main;
      font-weight: 700;
      text-align: left;
      border: 2px solid $pacc-blue-main;
      border-bottom: 2px solid $pacc-blue-main;
    }
  }

  tbody {
    tr {
      background-color: $pacc-white;
      transition: background 0.2s;

      &:hover {
        background-color: $pacc-bg-hover;
      }

      td {
        padding: 10px 12px;
        color: $pacc-dark;
        border: 1px solid $pacc-bg-td;
        font-size: 0.95rem;
      }

      &.rowVencido {
        background-color: $pacc-danger !important;
        border-left: 5px solid $pacc-danger-hv;
        border-right: 5px solid $pacc-danger-hv;
        &:hover {
          background-color: $pacc-rw-b !important;
        }
        td {
          color: $pacc-danger-hv !important;
          border: 1px solid $pacc-rw-b;
          font-weight: 700;
        }
      }

      &.rowUrgente {
        background-color: #fff3e0 !important;
        border-left: 5px solid $pacc-rw-bl;
        border-right: 5px solid $pacc-rw-bl;
        &:hover {
          background-color: #ffe0b2 !important;
        }
        td {
          color: $pacc-rw !important;
          border: 1px solid #ffcc80;
          font-weight: 700;
        }
      }

      &.rowAtencao {
        background-color: #fffde7 !important;
        border-left: 5px solid #fbc02d;
        border-right: 5px solid #fbc02d;
        &:hover {
          background-color: #fff9c4 !important;
        }
        td {
          color: #f57f17 !important;
          border: 1px solid #fff59d;
          font-weight: 700;
        }
      }

      &.rowNormal {
        background-color: $pacc-row-normal !important;
        border-left: 5px solid $pacc-sucess;
        border-right: 5px solid $pacc-sucess;
        font-weight: 700;
        &:hover {
          background-color: $pacc-row-normal-hv !important;
        }
        td {
          color: $pacc-row-normal-color;
          border: 1px solid $pacc-bg-td;
        }
      }
    }
  }
}

.btnDelete {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 5px;
  color: $pacc-blue-main;
  transition: all 0.2s ease;

  &:hover {
    transform: scale(1.1);
    background-color: rgba($pacc-dark, 0.05);
    color: $pacc-danger-hv;
  }
}
