$pacc-blue-dark: #0f172a;
$pacc-blue-main: #0047ab;
$pacc-white: #ffffff;
$pacc-gray: #64748b;
$pacc-success: #22c55e;
$pacc-danger: #ef4444;

//tokens de design

$bg-sidebar: $pacc-blue-dark;
$btn-primary: $pacc-blue-main;
$text-main: $pacc-white;
