//Brand color do Pacc
$pacc-dark: #000000;
$pacc-blue-dark: #051844;
$pacc-blue-main: #0047ab;
$pacc-white: #ffffff;
$pacc-gray: #64748b;
$pacc-success: #22c55e;
$pacc-danger: #ef4444;

//tokens de design

$bg-sidebar: $pacc-blue-dark;
$btn-primary: $pacc-blue-main;
$text-main: $pacc-white;

// Layout

$sidebar-width: 400px;
$border-radius: 8px;
$transition: 0.3s ease;
